/*!******************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/app.scss ***!
  \******************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Urbanist&display=swap);
/*!**********************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/app.scss (1) ***!
  \**********************************************************************************************************************************************************/
/* By Athlon Front-End Team */
/* Core variables */
/**
 * Variables
*/
/* Typography */
/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: none;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary,
main {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

body {
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  background: transparent;
  text-decoration: none;
}

button,
input {
  line-height: normal;
}

input[type=search] {
  -webkit-appearance: textfield;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea:focus,
input:focus {
  outline: 0;
}

input {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* CSS print */
/**
 * Print Stylesheet
*/
@media print {
  @page {
    margin: 1cm;
  }
  body {
    color: #555671;
  }

  a {
    page-break-inside: avoid;
  }

  blockquote {
    page-break-inside: avoid;
  }

  table,
pre {
    page-break-inside: avoid;
  }

  ul, ol, dl {
    page-break-before: avoid;
  }
}
/* Fonts */
/*
  Fonts
*/
/* Mixins, helpers and functions */
/**
 * Helper mixins
*/
/* Vendor */
/* Components */
/* Browser specific styles */
/**
 * Dirty hacks, yes internet explorer, we are looking at you
*/
/* Demo Page styles */
body {
  background: #fff;
  font-family: "Urbanist", sans-serif;
  min-width: 320px;
  font-size: 18px;
  color: #555671;
}

.container {
  width: 100%;
  max-width: 1250px;
  padding: 0 15px;
  margin: 0 auto;
}

.accent-color {
  color: #FF7549;
}

.title {
  color: #181A3F;
}

.section-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 80px 0;
}
.section-header__title {
  max-width: 548px;
  margin: 0 15px 0 0;
  font-size: 40px;
  line-height: 145%;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.column-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
  gap: 97px;
}

.item__svg {
  margin: 0 0 23px 0;
}
.item__title {
  margin: 0 0 13px 0;
  font-size: 28px;
  line-height: 139%;
}
.item__title::before {
  content: "/ ";
  color: #FF7549;
}
.item__txt {
  line-height: 167%;
}

.btns-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.btn {
  padding: 17px 56px;
  font-size: 20px;
  line-height: 110%;
  text-align: center;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}

.btn-fill {
  color: #fff;
  background: #FF7549;
  border: 2px solid #FF7549;
  -webkit-transition: background ease 0.3s, border-color ease 0.3s;
  transition: background ease 0.3s, border-color ease 0.3s;
}
.btn-fill:hover {
  background: #f05b29;
  border-color: #f05b29;
}

.btn-border {
  color: #181A3F;
  background: #fff;
  border: 2px solid #181A3F;
  -webkit-transition: color ease 0.3s, border-color ease 0.3s;
  transition: color ease 0.3s, border-color ease 0.3s;
}
.btn-border:hover {
  color: #f05b29;
  border-color: #f05b29;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 12px;
  }
}
@media screen and (max-width: 480px) {
  body {
    font-size: 16px;
  }
}
.header {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 121px;
  background: #fff;
  border-bottom: 1px solid #DAD9D6;
}
.header__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  margin: 0 16px 0 0;
  -webkit-transition: -webkit-transform ease 0.3s;
  transition: -webkit-transform ease 0.3s;
  transition: transform ease 0.3s;
  transition: transform ease 0.3s, -webkit-transform ease 0.3s;
}
.header__logo:hover {
  -webkit-transform: scale(95%);
          transform: scale(95%);
}

.fixed {
  position: fixed;
  z-index: 200;
  width: 100%;
  min-height: 90px;
}

.header-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 6px 0 auto;
  padding: 5px 0;
}
.header-actions__item {
  margin: 0 10px -3px 0;
}
.header-actions__component {
  color: #181A3F;
  line-height: 167%;
  letter-spacing: 0.72px;
  text-transform: uppercase;
  white-space: nowrap;
  -webkit-transition: opacity ease 0.5s;
  transition: opacity ease 0.5s;
}
.header-actions__component:hover {
  opacity: 0.5;
}

.header-toggle {
  position: relative;
  z-index: 101;
  min-width: 54px;
  height: 23px;
  -webkit-transition: opacity ease 0.5s;
  transition: opacity ease 0.5s;
  cursor: pointer;
}
.header-toggle:hover {
  opacity: 0.5;
}
.header-toggle .header-toggle-bar {
  background: transparent;
}
.header-toggle .header-toggle-bar::after,
.header-toggle .header-toggle-bar::before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  content: "";
  width: 100%;
  height: 3px;
  background: #181A3F;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header-toggle .header-toggle-bar {
  margin-top: 0;
}
.header-toggle .header-toggle-bar::after {
  margin-top: 9px;
}
.header-toggle .header-toggle-bar::before {
  margin-top: -9px;
}
.header-toggle.expanded .header-toggle-bar {
  background: transparent;
}
.header-toggle.expanded .header-toggle-bar::after, .header-toggle.expanded .header-toggle-bar::before {
  margin-top: 0;
  background: #181A3F;
}
.header-toggle.expanded .header-toggle-bar::after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.header-toggle.expanded .header-toggle-bar::before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.menu {
  position: fixed;
  top: 121px;
  right: -100%;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 2rem;
  background: #181A3F;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.menu.expanded {
  right: 0;
}
.menu__list {
  list-style: none;
  text-align: center;
}
.menu__item:not(:last-child) {
  margin-bottom: 20px;
}
.menu__link {
  padding: 5px;
  color: #fff;
  line-height: 110%;
  text-transform: uppercase;
  -webkit-transition: color ease 0.3s;
  transition: color ease 0.3s;
}
.menu__link:hover {
  color: #FF7549;
}

.scroll {
  top: 90px;
}

@media screen and (max-width: 768px) {
  .header {
    min-height: 70px;
  }

  .fixed {
    min-height: 70px;
  }

  .header-actions {
    margin: 0 0 0 auto;
  }
  .header-actions__component {
    font-size: 16px;
  }
  .header-actions__component:hover {
    opacity: 1;
  }

  .header-toggle {
    min-width: 40px;
  }
  .header-toggle .header-toggle-bar::after {
    margin-top: 7px;
  }
  .header-toggle .header-toggle-bar::before {
    margin-top: -7px;
  }
  .header-toggle:hover {
    opacity: 1;
  }

  .menu {
    top: 70px;
  }

  .scroll {
    top: 70px;
  }
}
@media screen and (max-width: 480px) {
  .header__logo {
    margin: 0 10px 0 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45px;
            flex: 0 0 45px;
    overflow: hidden;
  }
}
.intro {
  overflow-x: hidden;
  padding: 121px 0 0 0;
  border-bottom: 1px solid #DAD9D6;
}
.intro__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.intro__block-info {
  max-width: 612px;
}
.intro__title {
  margin: 0 0 17px 0;
  font-size: 54px;
  line-height: 137%;
  letter-spacing: 2.16px;
  text-transform: uppercase;
}
.intro__subtitle {
  max-width: 449px;
  margin: 0 0 42px 0;
  line-height: 167%;
}
.intro__bg {
  margin-right: -110px;
}
.intro__btn {
  padding: 17px 53px;
}
.intro__btn:not(:last-child) {
  margin: 0 27px 0 0;
}

.services {
  padding: 240px 0;
  border-bottom: 1px solid #DAD9D6;
}

.logo-svg {
  display: block;
  width: 247px;
  height: 48px;
}

.services-svg {
  display: block;
  width: 85px;
  height: 85px;
}

@media screen and (max-width: 768px) {
  .logo-svg {
    width: 190px;
  }

  .services-svg {
    width: 60px;
    height: 60px;
  }
}
